<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".ttl" #>
<#string filePath=this.Host.ResolvePath("..\\Ontology.ttl");
foreach(string line in System.IO.File.ReadLines(filePath))
{
if (line.StartsWith("###"))
{#><#}
else
if (line.StartsWith("#"))
{#>
<#= line.Remove(0,1) #>
<#}
else
{#>
<#= line #>
<#}
}#>
<#= System.IO.File.ReadAllText(this.Host.ResolvePath("..\\Website-labels-and-descriptions.ttl")) #>